 <style>
                                        .white-overlay {display: none;background-color: rgba(255, 255, 255, 1);z-index: 9999;top: 0;left: 0;height: 100vh;width: 100vw;position: fixed;margin: 0;}.spinner-wrapper {position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);margin: 0 auto;min-width: 220px;}.cartpanda .spinner {border: 6px solid #e2e2e2;border-top: 6px solid #297FBC;border-radius: 50%;width: 100px;height: 100px;animation: spin 2s linear infinite;margin: auto;}.spinner-icon {position: relative;}.spinner-icon .spinner-icon-svg {position: absolute;top: 50%;left: 50%;margin-left: -19px;margin-top: -70px;width: 40px;height: 40px;}.spinner-text {text-align: center;color: #526473;font-size: 16px;padding-top: 2rem;}.custom_spinner.loading {padding: 50px;position: relative;text-align: center;}.custom_spinner.loading:before {content: '';height: 45px;width: 45px;margin: 0px auto auto -20px;position: absolute;border-width: 8px;border-style: solid;border-color: #2180c0 #ccc #ccc;  border-radius: 100%;animation: rotation .7s infinite linear;}@keyframes rotation {from {transform: rotate(0deg);} to {transform: rotate(359deg);}} @keyframes spin {0% {transform: rotate(0deg);}100% {transform: rotate(360deg);}} @keyframes spin {0% {transform: rotate(0deg);}100% {transform: rotate(360deg);}}
                                    </style>

                        <div class="cartx-preloader white-overlay cartx-loader" id="cartx-preloader">
                            <div class="spinner-wrapper">
                                <div class=''>
                                    <div class="spinner-icon">
                                       <div class="custom_spinner loading">&nbsp;</div>
                                    </div>
                                </div>
                                <div class=''><div class="spinner-text">Carregando Ambiente Seguro</div></div>
                            </div>
                        </div>

                        <script>
                            if(!window.jQuery || typeof jQuery == 'undefined' || jQuery == null)
                            {
                                document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></' + 'script>');
                            }
                        </script>
                        <script>

                        function loadJS(file, js_type = '') {
                            // DOM: Create the script element
                            var jsElm = document.createElement("script");
                            // set the type attribute
                            if(js_type == '') {
                                jsElm.type = "application/javascript";
                            } else {
                            }
                            // make the script element load file
                            jsElm.src = file;
                            // finally insert the element to the body element in order to load the script
                            document.body.appendChild(jsElm);
                        }
                        loadJS('https://accounts.cartpanda.com/assets/js/shopify_redirect.js?time=1677504354', '');

                        var currentPage = '{{ template.name }}',
                            cartEndpoint = 'https://vicenza-menswear.mycartpanda.com/shopify/cart',
                            shopName = '{{shop.permanent_domain}}',
                            shop = '{{shop.secure_url}}',
                            cart_loading_message = 'Carregando carrinho seguro',
                            has_multiple_buttons = '0',
                            show_spinner = '1';
            </script>