html,
body{
    position: relative;
    overflow-x: hidden;
}
ul,ol{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

body,
*{
    font-family: "Inter", sans-serif !important;
}

[data-smart-inject-id="OPTIN_HTML"],
.bricks--section {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  height: 0 !important;
  width: 0 !important;
  overflow: hidden !important;
}
