.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 24px;
    
    background: #fff;

}

.main-header .box-logo img{
    height: 56px;
}

.main-header .box-left,
.main-header .box-right{
    min-width: 350px;
    max-width: 450px;
}

.main-header .box-left .menu {
    display: flex;
    align-items: center;
}

.main-header .box-left .menu a {
    padding: 19px 16px;
    font-size: 12px;
    letter-spacing: 0;
    text-transform: none;
    color: #282828;
}

.main-header .box-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.main-header .box-right .box-search{
    display: flex;
    align-items: center;

    position: relative;
}

.main-header .box-right .box-search input{
    letter-spacing: 0;
    text-transform: none;
    width: 232px;
    background-color: #f1f1f1;
    color: #808284;
    padding: 9px 25px;
    width: 100%;
    display: block;
    border: none;
    border-radius: 15px;
}

.main-header .box-right .box-search input:focus{
    box-shadow: none;
    outline: none;
}

.main-header .box-right .box-search input::placeholder{
    color: #9d9f9f;
}

.main-header .box-right .box-search svg{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 15px;
    width: 10px;
    width: 20px;
    fill: black;
}

.main-header .box-right .login{
    position: relative;
    display: block;
    font-size: 16px;
    color: black;
    margin-right: -7px;
}


.search .field::before,
.search .field::after {
    display: none;
}

.search .field__label{
    font-size: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.box-header-mobile-categories,
.box-actions-mobile{
    display: none;
}

predictive-search[open] .predictive-search, 
predictive-search[loading] .predictive-search{
    width: 600px !important;
    left: -115%;
}
/*MENUS*/

@media screen and (min-width: 990px){
    .header {
        display: flex;
        justify-content: center;

        padding-top: 0 !important; 
        padding-bottom: 0 !important;
    }
}

@media screen and (max-width: 749px) {

    .main-header{
        max-height: 50px;
        padding: 0 10px;
    }

    .main-header .box-logo{
        display: flex;
        align-items: center;
    }

    .main-header .box-logo img{
        display: block;
        max-height: 50px;
        height: auto;
    }

    .main-header .box-right .box-search,
    .main-header .box-left .menu{
        display: none;
    }

    .main-header .box-left,
    .main-header .box-right{
        min-width: 90px;
    }

    .main-header .box-left .box-actions-mobile{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .main-header .box-left .box-actions-mobile a{
        display: flex;
        align-items: center;
    }

    .main-header .box-left .box-actions-mobile a svg{
        width: 20px;
    }

    .header-wrapper{
        border: 0;
    }

    .header--mobile-center{
        padding: 0;
        border: 0;
    }

    .header--mobile-center.header{
        padding: 0;
    }

    .box-header-mobile-categories{
        display: flex;
        align-items: center;
        overflow-x: scroll;
        grid-column: 1 / 4;
        padding-top: 15px;
        padding-bottom: 5px;

        -ms-overflow-style: none;  
        scrollbar-width: none;  
    }

    .box-header-mobile-categories::-webkit-scrollbar{
        display: none;
    }

    .box-header-mobile-categories a {
        display: block;
        padding: 0 15px;
    }

    .box-header-mobile-categories img {
        width: 84px;
        height: 84px;
        border-radius: 50px;
    }

    .box-header-mobile-categories p{
        letter-spacing: 0;
        text-transform: none;
        line-height: 125%;
        margin: 0.25rem 0 0;
        font-size: 12px;
        text-align: center;
        color: rgba(40, 40, 40, 1);
        min-height: 22px;
    }
    
}

@media screen and (max-width: 600px) {

    .main-header{
        padding: 0 20px;
    }

    .header--mobile-center.header{
        padding-top: 0;
    }

    .box-header-mobile-categories a{
        display: block;
        min-width: 100px;
    }

    .box-header-mobile-categories img{
        display: block;
        margin: 0 auto;
        width: 56px;
        height: 56px;
    }

}