.totals {
  display: flex;

  padding: 15px 0;

  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2,
.totals p {
  font-size: calc(var(--font-heading-scale) * 1.6rem);
  color: #676767;
  font-size: 13px;
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals__subtotal-value {
  font-size: 1.8rem;
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

.tax-note{
  text-align: left !important;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: space-between;
  }
}
