.main-home-categories{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    padding: 30px;
}

.main-home-categories a {
    display: flex;
    flex-direction: column;
    gap: 16px;

    color: #282828;
    letter-spacing: -.014em;
    text-transform: none;
    font-weight: 500;
    line-height: 125%;

    font-size: 18px;
}

.main-home-categories a:hover img{
    transform: scale(1.04);
}

.main-home-categories a:hover span svg{
    transform: translateX(10px);
}
.main-home-categories a .box-image {
    position: relative;
    width: 320px;
    height: 385px;
    overflow: hidden;
}
.main-home-categories a .box-image img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;

    transition: all 200ms linear;
}

.main-home-categories a span{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main-home-categories a span svg{
    width: 15px;
    fill: #282828;
    transition: all 500ms linear;
}

@media screen and (max-width: 749px) {

    .main-home-categories{
        padding: 10px;
    }
    
    .main-home-categories a .box-image{
        width: 180px;
        height: 220px;
    }
    
    .main-home-categories a:last-child{
        display: none;
    }

    .main-home-categories a span{
        font-size: 14px;
    }

    .main-home-categories a span svg{
        width: 10px;
    }
}

@media screen and (max-width: 600px) {

    .main-home-categories{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        padding: 10px 0;
    }

    .main-home-categories a{
        margin-bottom: 15px;
    }

    .main-home-categories a .box-image{
        width: 100%;
    }

    .main-home-categories a span{
        display: inline-block;
        padding-left: 15px;
    }
}