.main-home-newsletter{
    background-color: #f1f1f1;
    padding: 96px 10px;
}

.main-home-newsletter h3{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed', sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 28px;
    margin: 0;
}

.main-home-newsletter .newsletter-form,
.main-home-newsletter .newsletter-form__field-wrapper{
    max-width: 510px;
}

.main-home-newsletter .newsletter-form .field::after{
    background-color: transparent;
    box-shadow: none;
}

.main-home-newsletter .newsletter-form .field input{
    background-color: transparent;
    border-bottom: 1px solid black;
    box-shadow: none !important;
}

.main-home-newsletter .newsletter-form .newsletter-form__button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    width: 80px;
}

.main-home-newsletter .newsletter-form .newsletter-form__button span{
    font-size: 13px;
}

.main-home-newsletter .newsletter-form .newsletter-form__button svg{
    width: 10px;
}